<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginTienda</servlet-name>
        <servlet-class>p2.LoginTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>p2.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroNuevoUsuario</servlet-name>
        <servlet-class>p2.RegistroNuevoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarDatosUsuario</servlet-name>
        <servlet-class>p2.CambiarDatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecogerPedido</servlet-name>
        <servlet-class>p2.RecogerPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TramitarPedido</servlet-name>
        <servlet-class>p2.TramitarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPedidos</servlet-name>
        <servlet-class>p2.MostrarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarPedido</servlet-name>
        <servlet-class>p2.CancelarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarProducto</servlet-name>
        <servlet-class>p2.CancelarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginTienda</servlet-name>
        <url-pattern>/LoginTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroNuevoUsuario</servlet-name>
        <url-pattern>/RegistroNuevoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarDatosUsuario</servlet-name>
        <url-pattern>/CambiarDatosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecogerPedido</servlet-name>
        <url-pattern>/RecogerPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TramitarPedido</servlet-name>
        <url-pattern>/TramitarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPedidos</servlet-name>
        <url-pattern>/MostrarPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarPedido</servlet-name>
        <url-pattern>/CancelarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarProducto</servlet-name>
        <url-pattern>/CancelarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
